<%
const param = {
  title: 'トップページ',
  path: './'
}
%>
<%- include(`${param.path}@include/_head`, {param: param}) %>
<body>
  
  <main class="main" id="main">
    <h2><%- example.title %></h2>
  </main>
  <img src="../img/main_image.jpg" alt="">
</body>
<%- include(`${param.path}@include/_footer`, {param: param}) %>