@import "./foundation/**/*";

@import './reset';

// @import "./layout/**/*";

// @import "./object/**/**/*";

@import "./utility/**/*";

h1 {
  object-fit: cover;
  object-position: center;
  height: 100vh;
}