<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title><%- param.title %></title>
  <script src="<%- param.path %>js/main.js" defer></script>
  <link rel="stylesheet" href="<%- param.path %>css/style.css">
</head>